.errorText {
    position: relative;
    top: -1em;
    color: red;
    font-size: 80%;
}

.slugContainer {
    margin: 10px;
}

.itemContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
}
